
/.cargo
data/aml/
data/bench_*.csv
data/cyto_*.csv
data/digits_*.csv
data/*.fcs
data/highd_*.csv
data/pendigits_*.csv
/.idea
# Large data files (download separately)
results/
# Results are regenerated
/target
